body{margin:0; background: #000000;}
.htm {
width: 700px!important;
height: 480px!important;
}
.banr {
	position: fixed;
    left: 50px;
    top: 50px;
    z-index: 2000000005;
    width: 600px;
    height: 300px;
    overflow: visible;
	display:none;
	
	
}
.krs {
	height: 23px;
    line-height: 23px;
    width: 23px;
    visibility: visible;
    position: absolute;
    left: -15px;
    top: -10px;
    cursor: pointer;
    z-index: 100500;
    background: url(/css/krst.png);
}
.ban468 {
    position: fixed;
    left: 50px;
    top: 100px;
    z-index: 2000000005;
    width: 550px;
    height: 96px;
    overflow: visible;
    background: #ffffff;
	
}

